<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex">
	<title>Admin Dashboard </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css'>
	<link rel="stylesheet" href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
     <link rel="stylesheet" href="/css/main.css">
     <link href="/css/nucleo-svg.css" rel="stylesheet" />
     <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
     
</head>
<a id="top"></a>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<a class="navbar-brand" href="/adminHome">Admin Dashboard </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
			 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="menu nav navbar-nav">
					<li>
						<a href="/adminHome">Trang Chủ</a>
					</li>
          <li>
            <a href="/category">Danh mục</a>
          </li>
          <li>
						<a href="/product">Tin bất động sản</a>
					</li>
				</ul>
                <div class="navbar-nav ml-auto">
					<div class="dropdown">
						<div class="fa fa-user"style="font-size:24px"><button class="dropbtn"></button></div>
						<div class="dropdown-content">	
							<a href="">Tài khoản Admin</a>
							<a href="/admin/register">Đăng ký</a>
						</div>
					</div>
				</div>
                
				<!--<ul class="menu nav navbar-nav text-uppercase ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Trang Chủ
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Dịch Vụ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Giới Thiệu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Liên Hệ</a>
					</li>
				</ul>-->
			</div>
		</nav>
	</div>
    <div class="blue-fluid">
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col-sm-12 title">
                    <h5>Bất động sản</h5>
                </div>
                <div class="col-sm-12 bc">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb ml-auto">
                            <li class="breadcrumb-item">
                                <a href="/">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb-item">Tin bất động sản</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class=" admin-background">
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div style="transform: translateY(-30px)" class="blue-fluid shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Danh sách tin bất động sản</h6>      
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                          <td>
                            <form action="/product" method="get">
                              <input type="text" name="productName" placeholder="Nhập tiêu đề tin tức">
                              <button class="button button1" type="submit" >Tìm kiếm</button>
                            </form>
                          <br>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          </td>
                          <td class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">
                              Tạo tin bất động sản mới
                          </td>
                          <td class="align-middle">
                            <div>
                            <i class="far fa-edit" style="font-size:24px"></i>
                            <a href="/product/create ">Tạo mới</a>
                          </div>
                          </td>
                      </tr>
                      <tr>
                        <!-- <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">ID</th> -->
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Hình ảnh</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Tiêu đề tin tức</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Địa chỉ</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Danh mục</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Giá</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Diện tích</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Chi tiết tin tức</th>
                        <th class="text-center text-uppercase text-secondary text-xxl font-weight-bolder opacity-10">Trạng thái</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <% product.forEach((item) => {%>
                    <tbody>
                      <tr>
                        <!-- <td class="align-middle text-center ">
                          <%= item.id %>
                        </td> -->
                        <td class="align-middle text-center ">
                          <img style="width: 55%;height: 100%" src="/uploads/<%= item.image %>" alt="">
                        </td>
                        <td class="align-middle text-center ">
                          <%= item.productName %>
                        </td>
                        <td class ="itemDetail align-middle">
                          <span>
                            <%= item.address %>
                          </span>
                        </td>
                        <td class="align-middle text-center ">
                          <% category.forEach((item1) => {%>
                            <%if(item.id_category === item1.id){ %>
                              <%= item1.categoryName %>
                            <%} %>
                          <% }) %>
                        </td>
                        <td class=" align-middle text-center ">
                          <%= item.price %> VNĐ
                        </td>
                        <td class="align-middle text-center ">
                          <%= item.area %>
                        </td>
                        <td class="itemDetail align-middle">
                          <span>
                            <%= item.detail %>
                          </span>
                        </td>
                        <td class="itemDetail text-center">
                          <span>
                            <%= item.status %>
                          </span>
                        </td>
                        <td class="align-middle">
                          <i class="fas fa-edit" style="font-size:24px"></i>
                          <a href="/product/edit/<%= item.id %>">Chỉnh sửa</a><br>
                          <i class="fa fa-remove" style="font-size:24px"></i>
                          <a href="/product/delete/<%= item.id %>">Xoá</a><br>
                          <!-- <i class="fa fa-edit" style="font-size:24px"></i>
                          <a href="/product/image/<%= item.id %>">Edit Image</a> -->
                        </td>
                      </tr>
                    </tbody>
                    <% }) %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <a href="#top" class="back-to-top" style="display: inline;">
        <i class="fa fa-chevron-up"> </i>
    </a>
    <!-- end footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/jquery.animateNumber.js"></script>
    <script>$('#workhr').animateNumber({ number: 7200 });</script>
    <script>$('#reward').animateNumber({ number: 200 });</script>
    <script>$('#satis').animateNumber({ number: 364 });</script>
    <script>$('#complt').animateNumber({ number: 1701 });</script>
    <script type="text/javascript" src="js/jquery.number.js"></script>
    <script>
        $(document).ready(function(){
            $('#price').number( true, 0,',','.' );
        }); 
    </script>

    <script>
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing', function () {
                    window.location.hash = target;
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('body').on('click','.checkmobile', function() {
            var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            var mobile = $('#mobile').val();
            if(mobile !==''){
                if (vnf_regex.test(mobile) == false) 
                {
                    alert('Số điện thoại của bạn không đúng định dạng!');
                }else{
                    alert('Số điện thoại của bạn hợp lệ!');
                }
            }else{
                alert('Bạn chưa điền số điện thoại!');
            }
            });
        });
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>

</body>

</html>